// sass variables
$widget-controls-min-height: 1.75rem;
$widget-default-padding: 15px;
$widget-error: #f00;
$widget-border-design-color: #ccc;
$widget-border-view-color: #ddd;
$widget-grip-color: #888;
$widget-grip-width: 1rem;
$widget-min-height: 5rem;
$widget-remove-color: #f00;
$widget-remove-width: 1rem;
$widget-tip-color: #888;
$widget-toolbar-border-color: #ccc;
$widget-toolbar-button-bg-color: #eee;
$widget-toolbar-button-bg-hover-color: #ddd;
$widget-toolbar-button-color: #222;
$widget-toolbar-button-height: 2rem;
$widget-toolbar-padding: 0.25rem;
$widget-toolbar-border-radius: 0.25rem;

*, *::before, *::after {
    box-sizing: border-box;
}

// container
.widget-container {
    font-family: Poppins;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;

    width: 1000px;
    max-height: 1400px;
    height: calc(100vh - 100px);
    overflow-y: auto;
    min-height: 200px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid red;
}

@media(min-width: 1366px) {
    .widget-container {
        width: 1200px;
    }
}

@media(min-width: 1800px) {
    .widget-container {
        width: 1600px;
    }
}

// designer - toolbar
.widget-toolbar {
    font-family: Poppins;
    border: 1px solid $widget-toolbar-border-color;
    border-radius: $widget-toolbar-border-radius;
    padding: $widget-toolbar-padding;

    button {
        background-color: $widget-toolbar-button-bg-color;
        border: 1px solid $widget-toolbar-border-color;
        border-radius: $widget-toolbar-border-radius;
        color: $widget-toolbar-button-color;
        cursor: pointer;
        font-family: inherit;
        height: $widget-toolbar-button-height;

        &:hover {
            background-color: $widget-toolbar-button-bg-hover-color;
        }
    }
}

// widgets
.widget {
    padding-bottom: 1rem;
    min-height: $widget-min-height;

    &[data-mode="design"] {
        border: 1px dashed $widget-border-design-color;
    }

    /*&[data-mode="view"] {
        border: 1px solid $widget-border-view-color;
    }*/

    button {
        cursor: pointer;
    }

    input, button {
        width: 100%;
        min-height: $widget-controls-min-height;
        font-family: inherit;
    }

    &.has-grip {
        input, label, button {
            display: inline-block;
            width: calc(100% - $widget-grip-width);
        }
    }

    &[data-type="spacer"] {
        min-height: 3rem;
    }

    &[data-type="button"] {
        display: flex;
        flex-direction: column;
        justify-content: end;
        padding-top: $widget-default-padding;
    }

    .widget-error {
        display: none;
    }

    &.has-error {
        .widget-error {
            display: block;
            color: $widget-error;
            font-size: 0.8rem;
        }
    }
}

.widget-grip {
    position: absolute;
    right: 0rem;
    top: 0rem;
    width: $widget-grip-width;
    height: 100%;
    display: flex;
    align-items: end;
    cursor: grabbing;

    &::after {
        content: '≡';
        color: $widget-grip-color;
    }
}

.widget-remove {
    position: absolute;
    right: 0.1rem;
    top: 0.1rem;
    width: $widget-remove-width;
    z-index: 10;

    &::after {
        content: '×';
        font-size: 1.5rem;
        color: $widget-remove-color;
        opacity: 0.5;
        line-height: 1;
        cursor: pointer;

    }

    &:hover::after {
        opacity: 1;
    }
}

.widget-label {
    font-weight: bold;
}

.widget-tip {
    font-size: 0.8rem;
    color: $widget-tip-color;
}

.widget-value {
    width: 100%;
    display: block;
}

// columns
[class*="widget-col-"] {
    position: relative;
    width: 100%;
    // min-height: 1px;
    padding-right: $widget-default-padding;
    padding-left: $widget-default-padding;
}

.widget-col-1 {
    flex: 0 1 8.3333333333%;
    max-width: 8.3333333333%;
}

.widget-col-2 {
    flex: 0 1 16.6666666667%;
    max-width: 16.6666666667%;
}

.widget-col-3 {
    flex: 0 1 25%;
    max-width: 25%;
}

.widget-col-4 {
    flex: 0 1 33.3333333333%;
    max-width: 33.3333333333%;
}

.widget-col-5 {
    flex: 0 1 41.6666666667%;
    max-width: 41.6666666667%;
}

.widget-col-6 {
    flex: 0 1 50%;
    max-width: 50%;
}

.widget-col-7 {
    flex: 0 1 58.3333333333%;
    max-width: 58.3333333333%;
}

.widget-col-8 {
    flex: 0 1 66.6666666667%;
    max-width: 66.6666666667%;
}

.widget-col-9 {
    flex: 0 1 75%;
    max-width: 75%;
}

.widget-col-10 {
    flex: 0 1 83.3333333333%;
    max-width: 83.3333333333%;
}

.widget-col-11 {
    flex: 0 1 91.6666666667%;
    max-width: 91.6666666667%;
}

.widget-col-12 {
    flex: 0 1 100%;
    max-width: 100%;
}

// component styles
.required-mark {
    font-weight: bold;
    font-size: 0.8rem;
    color: $widget-error;
    &::after {
        content: ' '
    }
}
