// sass variables
$default-accent-color: #007bff;
$default-background-color: #f4f4f4;
$default-color: #222;
$default-font-size: 16px;
$default-opposite-color: #fff;

$flyter-popup-background-color: $default-background-color;
$flyter-input-focus-boder-color: $default-accent-color;

$font-family: "Poppins";

$widget-controls-min-height: 1.75rem;
$widget-default-padding: 15px;
$widget-error: #f00;
$widget-border-design-color: #ccc;
$widget-border-view-color: #ddd;
$widget-container-width: 1000px;
$widget-container-bp-1: 1366px;
$widget-container-width-bp-1: 1200px;
$widget-container-bp-2: 1800px;
$widget-toolbar-estimate-height: 150px;
$widget-container-height: calc(100vh - $widget-toolbar-estimate-height);    // take full height minus some space for the toolbar
$widget-container-max-height: 1400px;
$widget-container-width-bp-2: 1600px;
$widget-designer-radius: 0.25rem;
$widget-grip-color: #888;
$widget-grip-width: 0.8rem;
$widget-min-height: 55px;
$widget-modal-backdrop-color: rgba(0, 0, 0, 0.2);
$widget-modal-border-color: #888;
$widget-modal-padding: 1rem;
$widget-modal-title-padding: 0.5rem;
$widget-properties-button-color: #333;
$widget-properties-button-width: 1rem;
$widget-remove-button-color: #f00;
$widget-remove-button-width: 1rem;
$widget-tip-color: #888;
$widget-toolbar-border-color: #ccc;
$widget-toolbar-button-bg-color: #eee;
$widget-toolbar-button-bg-hover-color: #ddd;
$widget-toolbar-button-color: #222;
$widget-toolbar-button-disabled-bg-color: #ccc;
$widget-toolbar-button-disabled-color: #888;
$widget-toolbar-button-height: 2rem;
$widget-toolbar-group-border-color: #eee;
$widget-toolbar-group-title-color: #555;
$widget-toolbar-padding: 0.5rem;

*, *::before, *::after {
    box-sizing: border-box;
}

// designer - toolbar
.widget-designer {
    button, input {
        font-family: inherit;
        font-size: $default-font-size;
    }

    button {
        background-color: $widget-toolbar-button-bg-color;
        border: 1px solid $widget-toolbar-border-color;
        border-radius: $widget-designer-radius;
        color: $widget-toolbar-button-color;
        cursor: pointer;
        font-family: inherit;
        height: $widget-toolbar-button-height;

        &:hover {
            background-color: $widget-toolbar-button-bg-hover-color;
        }

        &:disabled {
            background-color: $widget-toolbar-button-disabled-bg-color;
            color: $widget-toolbar-button-disabled-color;
        }
    }

    .widget-toolbar [data-render-mode] {
        display: none;
    }

    &[data-current-mode="design"] {
        .widget-toolbar [data-render-mode="design"] {
            display: inline;
        }
        .widget-toolbar [data-render-mode="run"] {
            display: none;
        }
        .widget-toolbar [data-render-mode="view"] {
            display: none;
        }
    }

    &[data-current-mode="run"] {
        .widget-toolbar [data-render-mode="design"] {
            display: none;
        }
        .widget-toolbar [data-render-mode="run"] {
            display: inline;
        }
        .widget-toolbar [data-render-mode="view"] {
            display: none;
        }
    }

    &[data-current-mode="view"] {
        .widget-toolbar [data-render-mode="design"] {
            display: none;
        }
        .widget-toolbar [data-render-mode="run"] {
            display: none;
        }
        .widget-toolbar [data-render-mode="view"] {
            display: inline;
        }
    }
}

.widget-toolbar {
    border: 1px solid $widget-toolbar-border-color;
    border-radius: $widget-designer-radius;
    padding: $widget-toolbar-padding;
    margin-bottom: 1rem;
    font-weight: 300;

    .widget-toolbar-group {
        border: 1px solid $widget-toolbar-group-border-color;
        padding: $widget-toolbar-padding;
        margin: 0 $widget-toolbar-padding $widget-toolbar-padding 0;
        display: inline-block;
        border-radius: $widget-designer-radius;

        button:not(:last-child) {
            margin-right: 0.5rem;
        }
    }

    .widget-toolbar-group-title {
        font-size: 0.8rem;
        color: $widget-toolbar-group-title-color;
        width: 100%;
    }
}

// container
.widget-container, .widget-toolbar {
    font-family: $font-family;
    font-size: $default-font-size;
    margin-right: auto;
    margin-left: auto;
    width: $widget-container-width;
}

.widget-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    font-weight: 400;

    border: 1px solid $widget-border-design-color;
    border-radius: $widget-designer-radius;
    height: $widget-container-height;
    max-height: $widget-container-max-height;
    min-height: 200px;
    overflow-y: auto;
}

// responsive breakpoints
@media(min-width: $widget-container-bp-1) {
    .widget-container, .widget-toolbar {
        width: $widget-container-width-bp-1;
    }
}

@media(min-width: $widget-container-bp-2) {
    .widget-container, .widget-toolbar {
        width: $widget-container-width-bp-2;
    }
}

// widgets
.widget {
    min-height: $widget-min-height;

    &[data-mode="design"] {
        border: 1px dashed $widget-border-design-color;
    }

    > [data-show-when] {
        width: 100%;
        height: 100%;
        flex-direction: column;
    }

    &[data-mode="design"] {
        [data-show-when="design"] {
            display: flex;
        }
        [data-show-when="view"], [data-show-when="run"] {
            display: none;
        }

        [data-part="label"] {
            cursor: pointer;
            text-decoration: inherit; // to allow for underline
        }
    }

    &[data-mode="run"] {
        [data-show-when="run"] {
            display: flex;
        }
        [data-show-when="design"], [data-show-when="view"] {
            display: none;
        }
    }

    &[data-mode="view"] {
        [data-show-when="view"] {
            display: flex;
        }
        [data-show-when="design"], [data-show-when="run"] {
            display: none;
        }
    }

    button {
        cursor: pointer;
    }

    input, button {
        width: 100%;
        min-height: $widget-controls-min-height;
        font-family: inherit;
    }

    &.has-grip {
        input, label, button {
            display: inline-block;
            //width: calc(100% - $widget-grip-width);
            width: 100%;
        }
    }

    &[data-type="button"] {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: $widget-default-padding;
    }

    &[data-type="label"] {
        display: flex;

        [data-part="label"] {
            text-decoration: inherit;

            span, div {
                text-decoration: inherit;
            }
        }
    }

    &[data-type="text"] {
        input {
            font-size: inherit;
            font-weight: inherit;
        }
    }

    &[data-type="image"] {
        overflow: hidden;
        img {
            // width: 100%;
            height: auto;
            display: block;
        }
    }

    &[data-type="spacer"] {
        min-height: 3rem;
    }

    .widget-error {
        display: none;
    }

    &.has-error {
        .widget-error {
            display: block;
            color: $widget-error;
            font-size: 0.8rem;
        }
    }
}

.widget-grip {
    position: absolute;
    right: 0rem;
    top: 0rem;
    font-size: 1.2rem;
    width: $widget-grip-width;
    height: 100%;
    display: flex;
    align-items: end;
    cursor: grabbing;

    &::after {
        content: '≡';
        color: $widget-grip-color;
    }
}

.widget-properties, .widget-remove {
    position: absolute;
    z-index: 10;

    &::after {
        font-size: 1.5rem;
        opacity: 0.5;
        cursor: pointer;
    }

    &:hover::after {
        opacity: 1;
    }
}

.widget-properties {
    right: 1.5rem;
    top: 0.1rem;
    width: $widget-properties-button-width;

    &::after {
        content: '...';
        line-height: 0.6;
        color: $widget-properties-button-color;
    }
}

.widget-remove {
    right: 0.1rem;
    top: 0.1rem;
    width: $widget-remove-button-width;

    &::after {
        content: '×';
        line-height: 1;
        color: $widget-remove-button-color;
    }
}

.widget-label {
    // font-weight: bold;
    display: block;
}

.widget-tip {
    font-size: 0.8rem;
    color: $widget-tip-color;
}

.widget-value {
    width: 100%;
    display: block;
}

// alignments
.widget-h-align-start {
    align-items: start;

    .widget-label {
        text-align: left;
    }
}

.widget-h-align-center {
    align-items: center;

    .widget-label {
        text-align: center;
    }
}

.widget-h-align-end {
    align-items: end;

    .widget-label {
        text-align: right;
    }
}

.widget-v-align-start {
    justify-content: start;
}

.widget-v-align-center {
    justify-content: center;
}

.widget-v-align-end {
    justify-content: end;
}


// columns
[class*="widget-col-"] {
    position: relative;
    width: 100%;
    padding-right: $widget-default-padding;
    padding-left: $widget-default-padding;
}

.widget-col-1 {
    flex: 0 1 8.3333333333%;
    max-width: 8.3333333333%;
}

.widget-col-2 {
    flex: 0 1 16.6666666667%;
    max-width: 16.6666666667%;
}

.widget-col-3 {
    flex: 0 1 25%;
    max-width: 25%;
}

.widget-col-4 {
    flex: 0 1 33.3333333333%;
    max-width: 33.3333333333%;
}

.widget-col-5 {
    flex: 0 1 41.6666666667%;
    max-width: 41.6666666667%;
}

.widget-col-6 {
    flex: 0 1 50%;
    max-width: 50%;
}

.widget-col-7 {
    flex: 0 1 58.3333333333%;
    max-width: 58.3333333333%;
}

.widget-col-8 {
    flex: 0 1 66.6666666667%;
    max-width: 66.6666666667%;
}

.widget-col-9 {
    flex: 0 1 75%;
    max-width: 75%;
}

.widget-col-10 {
    flex: 0 1 83.3333333333%;
    max-width: 83.3333333333%;
}

.widget-col-11 {
    flex: 0 1 91.6666666667%;
    max-width: 91.6666666667%;
}

.widget-col-12 {
    flex: 0 1 100%;
    max-width: 100%;
}

// component styles
.required-mark {
    font-weight: bold;
    text-decoration: none;
    font-size: 80%;
    color: $widget-error;
    &::after {
        content: ' ';
        text-decoration: none;
    }
}

// ******
// dialog editors
// ******
.label-input-container {
    display: table;
    label, input {
        display: table-cell;
    }

    label {
        width: 1%;
        min-width: 11rem;
    }

    input {
        width: 99%;
    }
}


$widget-section-padding: 0.25rem;
.widget-dialog-section {
    border: 1px solid $widget-border-design-color;
    border-radius: $widget-designer-radius;
    padding: $widget-section-padding;

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
    }

    .widget-dialog-subsection {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
        margin-bottom: 0.25rem;
        width: 100%;

        &.w-2 {
            width: calc(16.66% - $widget-section-padding / 6 * 2 - 1px);
        }
        &.w-3 {
            width: calc(25% - $widget-section-padding / 4 * 2 - 1px);
        }
        &.w-4 {
            width: calc(33.33% - $widget-section-padding / 3 * 2 - 1px);
        }
        &.w-6 {
            width: calc(50% - $widget-section-padding / 2 * 2 - 1px);
        }
        &.w-8 {
            width: calc(66.66% - $widget-section-padding / 1.25 * 2 - 1px);
        }
    }
}

.widget-dialog-section-title {
    font-weight: bold;
    margin: 1rem 0 0 0;
}

// ******
// flyter
// ******
[class^="flyter"] {
    font-family: $font-family;
    // font-size: $default-font-size;

    button, input {
        font-family: inherit;
        font-size: $default-font-size;
        outline: none;
    }   

    button {
        border: 1px solid $widget-toolbar-border-color;
        border-radius: $widget-designer-radius;
        background-color: $widget-toolbar-button-bg-color;
        color: $widget-toolbar-button-color;
        height: $widget-toolbar-button-height;
        &:hover {
            background-color: $widget-toolbar-button-bg-hover-color;
        }
        &:focus {
            border-color: $flyter-input-focus-boder-color;
        }
    }
}

.flyter-popup {
    border: 1px solid $widget-border-design-color;
    border-radius: $widget-designer-radius;
    padding: $widget-default-padding;
    background-color: $flyter-popup-background-color; 
}

.flyter-buttons-container {
    margin-top: $widget-default-padding;
}

.flyter-read-container {
    display: inline-block;;
    text-decoration: inherit; // to allow for underline
}

.flyter-text-input {
    border: 1px solid $widget-border-design-color;
    border-radius: $widget-designer-radius;
    padding: 2px 8px;

    &:focus {
        border-color: $flyter-input-focus-boder-color;
    }
}

// **************
// Widget editors
// **************
.widget-properties-editor {
    box-sizing: border-box;
    > *, *::before, *::after {
        box-sizing: inherit;
    }
    font-family: inherit;
    padding: $widget-modal-padding;
    width: clamp(10rem, 100%, 35rem);
    box-shadow: 0 0 1rem rgb(0, 0, 0, .5);
    border: 1px solid $widget-modal-border-color;
    border-radius: $widget-designer-radius;
    font-family: $font-family;
    max-height: calc(100vh - 10rem);

    input, button {
        min-height: $widget-controls-min-height;
        font-family: inherit;
        font-size: $default-font-size;
    }

    input {
        vertical-align: middle;
    }

    input[type="checkbox"], input[type="radio"] {
        width: 1.5rem;
    }
    
    input[type="number"] {
        width: 5rem;
    }

    & > * {
        margin: 0 0 0.5rem 0;
    }

    &::backdrop {
        background-color: $widget-modal-backdrop-color;
    }

    .widget-properties-editor-header {
        height: 2rem;
        background-color: $default-accent-color;
        color: $default-opposite-color;
        line-height: 2;
        padding: 0 $widget-toolbar-padding;
        border-radius: $widget-designer-radius;
        margin-bottom: 1rem;
    }

    .widget-properties-editor-footer {
        margin-top: 1rem;
        padding-top: 1rem;
        height: 2rem;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: end;
        border-top: 1px solid $widget-modal-border-color;
    }
}
