$default-accent-color: #cb38c8;
$default-background-color: #f4f4f4;
$default-color: #222;
$default-font-size: 16px;
$default-opposite-color: #fff;
$default-text-color: #222;

$flyter-popup-background-color: darken($default-background-color, 5%);
$flyter-input-focus-boder-color: $default-accent-color;

$widget-error: #f00;
$widget-border-design-color: #ccc;
$widget-border-view-color: #ddd;
$widget-container-bg-color: $default-background-color;

$widget-grip-color: #888;

$widget-modal-backdrop-color: rgba(0, 0, 0, 0.2);
$widget-modal-border-color: #888;

$widget-properties-button-color: #333;
$widget-remove-button-color: #f00;
$widget-state-outline-invalid: #f00;
$widget-state-outline-valid: limegreen;
$widget-tip-color: #888;

$widget-properties-editor-background-color: darken($default-background-color, 5%);
$widget-properties-editor-color: $default-color;

$widget-toolbar-border-color: #ccc;
$widget-toolbar-button-bg-color: darken($default-background-color, 5%);
$widget-toolbar-button-bg-hover-color: darken($default-background-color, 15%);
$widget-toolbar-button-color: #222;
$widget-toolbar-button-disabled-bg-color: #ccc;
$widget-toolbar-button-disabled-color: #888;
$widget-toolbar-group-border-color: #eee;
$widget-toolbar-group-title-color: $default-color;

@import "widgets.scss";