// sass variables
$font-family: "Poppins";

$widget-checkbox-width: 1.5rem;
$widget-controls-min-height: 1.5rem;
$widget-default-padding: 15px;

$widget-container-width: 1000px;
$widget-container-bp-1: 1366px;
$widget-container-width-bp-1: 1200px;
$widget-container-bp-2: 1800px;
$widget-toolbar-estimate-height: 150px;
$widget-container-height: calc(100vh - $widget-toolbar-estimate-height);    // take full height minus some space for the toolbar
$widget-container-max-height: 1400px;
$widget-container-width-bp-2: 1600px;
$widget-designer-radius: 0.25rem;

$widget-grip-width: 0.8rem;
$widget-input-height: 2rem;
$widget-min-height: 15px;

$widget-modal-padding: 1rem;
$widget-modal-title-padding: 0.5rem;
$widget-paragraph-height: 6rem;

$widget-properties-button-width: 1rem;
$widger-radio-button-height: 2rem;

$widget-remove-button-width: 1rem;
$widget-section-padding: 0.25rem;

$widget-toolbar-button-height: 2rem;

$widget-toolbar-padding: 0.5rem;

:root {
    --widget-label-color: #{$default-color};
    --widget-text-color: #{$default-text-color};
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    color: $default-color;
    background-color: $default-background-color;
}

// ***************
// general use
// ***************
.widget-hide {
    display: none;
}

// ***************
// designer - toolbar
// ***************
.widget-designer {
    background-color: $default-background-color;
    padding: 0.5rem;

    button, input, select {
        font-family: inherit;
        font-size: $default-font-size;
    }

    .widget-toolbar [data-render-mode] {
        display: none;
    }

    &[data-current-mode="design"] {
        .widget-toolbar [data-render-mode="design"] {
            display: inline;
        }
        .widget-toolbar [data-render-mode="run"] {
            display: none;
        }
        .widget-toolbar [data-render-mode="view"] {
            display: none;
        }
    }

    &[data-current-mode="run"] {
        .widget-toolbar [data-render-mode="design"] {
            display: none;
        }
        .widget-toolbar [data-render-mode="run"] {
            display: inline;
        }
        .widget-toolbar [data-render-mode="view"] {
            display: none;
        }
    }

    &[data-current-mode="view"] {
        .widget-toolbar [data-render-mode="design"] {
            display: none;
        }
        .widget-toolbar [data-render-mode="run"] {
            display: none;
        }
        .widget-toolbar [data-render-mode="view"] {
            display: inline;
        }
    }
}

.widget-toolbar {
    border: 1px solid $widget-toolbar-border-color;
    border-radius: $widget-designer-radius;
    padding: $widget-toolbar-padding;
    margin-bottom: 1rem;
    font-weight: 300;

    .widget-toolbar-button { // default class if none is specified in config
        background-color: $widget-toolbar-button-bg-color;
        border: 1px solid $widget-toolbar-border-color;
        border-radius: $widget-designer-radius;
        color: $widget-toolbar-button-color;
        cursor: pointer;
        font-family: inherit;
        height: $widget-toolbar-button-height;

        &:hover {
            background-color: $widget-toolbar-button-bg-hover-color;
        }

        &:disabled {
            background-color: $widget-toolbar-button-disabled-bg-color;
            color: $widget-toolbar-button-disabled-color;
        }
    }

    .widget-toolbar-button-label { // default class if none is specified in config

    }

    .widget-toolbar-group {
        border: 1px solid $widget-toolbar-group-border-color;
        padding: $widget-toolbar-padding;
        margin: 0 $widget-toolbar-padding $widget-toolbar-padding 0;
        display: inline-block;
        border-radius: $widget-designer-radius;

        button:not(:last-child) {
            margin-right: 0.5rem;
        }

        button {
            margin-bottom: 0.5rem;
        }
    }

    .widget-toolbar-group-title {
        font-size: 0.8rem;
        color: $widget-toolbar-group-title-color;
        width: 100%;
    }

    &.compact {
        .widget-toolbar-button-label {
            display: none;
        }
    }
}

// container
.widget-container, .widget-toolbar {
    font-family: $font-family;
    font-size: $default-font-size;
    margin-right: auto;
    margin-left: auto;
    max-width: $widget-container-width;
}

.widget-container-bg {
    background-color: $widget-container-bg-color;
}

.widget-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    font-weight: 400;

    border: 1px solid $widget-border-design-color;
    border-radius: $widget-designer-radius;
    height: $widget-container-height;
    max-height: $widget-container-max-height;
    min-height: 200px;
    overflow-y: auto;
}

// responsive breakpoints
@media(min-width: $widget-container-bp-1) {
    .widget-container, .widget-toolbar {
        max-width: $widget-container-width-bp-1;
    }
}

@media(min-width: $widget-container-bp-2) {
    .widget-container, .widget-toolbar {
        max-width: $widget-container-width-bp-2;
    }
}

// ***************
// widgets
// ***************
.widget {
    min-height: $widget-min-height;
    overflow: hidden;

    &[data-mode="design"] {
        border: 1px dashed $widget-border-design-color;
    }
    &[data-mode="run"], &[data-mode="view"]  {
        border: 1px solid #00000000; // invisible
    }

    > [data-show-when] {
        width: 100%;
        // height: 100%; // commented because it interferes with auto-height
        height: inherit;
        min-height: 1rem;
        flex-direction: column;
    }

    &[data-mode="design"] {
        [data-show-when="design"] {
            display: flex;
        }
        [data-show-when="view"], [data-show-when="run"] {
            display: none;
        }

        [data-part="label"] {
            cursor: pointer;
            text-decoration: inherit; // to allow for underline
        }
    }

    &[data-mode="run"] {
        [data-show-when="run"] {
            display: flex;
        }
        [data-show-when="design"], [data-show-when="view"] {
            display: none;
        }

        input, select, textarea {
            &:invalid {
                border-color: $widget-state-outline-invalid;
            }
            &:valid {
                border-color: $widget-state-outline-valid;
            }
        }
    }

    &[data-mode="view"] {
        [data-show-when="view"] {
            display: flex;
        }
        [data-show-when="design"], [data-show-when="run"] {
            display: none;
        }
        [data-part="value"] {
            padding: 0.1rem 0; // to compensate spans for the additiona space given by input controls
        }
    }

    [data-part="button"] {
        cursor: pointer;
    }

    [data-part="input"], [data-part="button"] {
        width: 100%;
        min-height: $widget-controls-min-height;
        font-family: inherit;
        margin-bottom: 2px;
    }

    &.has-grip {
        [data-part="input"], [data-part="label-container"], [data-part="button"] {
            display: inline-block;
            width: 100%;
        }
    }

    .widget-checkbox-group {
        margin-bottom: 2px;

        input[type="checkbox"] {
            vertical-align: middle;
        }
    }

    [data-part="checkbox-label-container"], [data-part="widget-radio-label"] {
        width: unset;
    }

    [data-part="checkbox-label-container"] {
        vertical-align: middle;
    }

    [data-part="input-checkbox"], [data-part="input-radio"] {
        width: $widget-checkbox-width;
        height: $widget-controls-min-height;
        margin: 0 0.5rem 0 0;
    }

    .widget-select {
        width: 100%;
    }

    //vertical-align: bottom;
    &[data-type="button"] {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: $widget-default-padding;
    }

    &[data-type="label"] {
        display: flex;

        [data-part="label"] {
            text-decoration: inherit;

            span, div {
                text-decoration: inherit;
            }
        }
    }

    &[data-type="checkbox"] {
        &.flow-row [data-show-when] {
            flex-flow: row;
    
            .widget-value {
                width: unset;
            }
        }
    }

    &[data-type="image"] {
        overflow: hidden;
        img {
            // width: 100%;
            height: auto;
            display: block;
        }
    }

    &[data-type="paragraph"] {
        [data-part="input"] {
            resize: none;
            height: $widget-paragraph-height;
        }

        [data-part="value"] {
            height: $widget-paragraph-height;
        }
    }

    &[data-type="radio"] {
        &.flow-row [data-show-when] {
            flex-flow: row;
        }

        [data-part="widget-radio-sets-container"] {
            display: flex;
            flex-flow: column;
            width: 100%;
        }
    
        [data-part="widget-radio-set"] {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: $widger-radio-button-height;
        }

        &.flow-row [data-part="widget-radio-sets-container"] {
            flex-direction: row;
            //align-items: center;

            [data-part="widget-radio-set"]:not(:first-child) {
                margin-left: 1.5rem;
            }
        }
    }

    &[data-type="spacer"] {
        min-height: 3rem;
    }

    &[data-type="date"]
    &[data-type="color"], 
    &[data-type="number"], 
    &[data-type="text"] {
        input {
            height: $widget-input-height;
            font-size: inherit;
            font-weight: inherit;
            padding: 0;
            border-width: 1px;
            border-style: solid;
        }
    }

    [data-part="widget-error"] {
        display: none;
    }

    &.has-error {
        [data-part="widget-error"] {
            display: block;
            color: $widget-error;
            font-size: 0.8rem;
        }
    }
}

[data-part="widget-grip"] {
    position: absolute;
    right: 0rem;
    top: 0rem;
    font-size: 1.2rem;
    width: $widget-grip-width;
    height: 100%;
    display: flex;
    align-items: end;
    cursor: grabbing;

    &::after {
        content: '≡';
        color: $widget-grip-color;
    }
}

[data-part="widget-properties"], [data-part="widget-remove"] {
    position: absolute;
    z-index: 10;

    &::after {
        font-size: 1.5rem;
        opacity: 0.5;
        cursor: pointer;
    }

    &:hover::after {
        opacity: 1;
    }
}

[data-part="widget-properties"] {
    right: 1.5rem;
    top: 0.1rem;
    width: $widget-properties-button-width;

    &::after {
        content: '...';
        line-height: 0.6;
        color: $widget-properties-button-color;
    }
}

[data-part="widget-remove"] {
    right: 0.1rem;
    top: 0.1rem;
    width: $widget-remove-button-width;

    &::after {
        content: '×';
        line-height: 1;
        color: $widget-remove-button-color;
    }
}

[data-part="label-container"] {
    display: block;
}

[data-part="widget-tip"] {
    font-size: 0.8rem;
    color: $widget-tip-color;
}

[data-part="value"] {
    width: 100%;
    display: block;
    height: $widget-input-height;
    border: 2px solid transparent;
    margin-bottom: 2px;
}

// ***************
// alignments
// ***************
.widget-h-align-start {
    align-items: start;

    [data-part="label-container"], [data-part="input"], [data-part="value"], [data-part="widget-tip"], [data-part="button"] {
        text-align: left;
    }
}

.widget-h-align-center {
    align-items: center;

    [data-part="label-container"], [data-part="input"], [data-part="value"], [data-part="widget-tip"], [data-part="button"] {
        text-align: center;
    }
}

.widget-h-align-end {
    align-items: end;

    [data-part="label-container"], [data-part="input"], [data-part="value"], [data-part="widget-tip"], [data-part="button"] {
        text-align: right;
    }
}

.widget-v-align-start {
    justify-content: start;
}

.widget-v-align-center {
    justify-content: center;
}

.widget-v-align-end {
    justify-content: end;
}

.flow-row {
    .widget-h-align-start {
        justify-content: start;
    
        [data-part="label-container"], [data-part="widget-tip"] {
            text-align: left;
        }
    }
    
    .widget-h-align-center {
        justify-content: center;
    
        [data-part="label-container"], [data-part="widget-tip"] {
            text-align: center;
        }
    }
    
    .widget-h-align-end {
        justify-content: end;
    
        [data-part="label-container"], [data-part="widget-tip"] {
            text-align: right;
        }
    }
    
    .widget-v-align-start {
        align-items: start;
    }
    
    .widget-v-align-center {
        align-items: center;
    }
    
    .widget-v-align-end {
        align-items: end;
    }
}

// ***************
// columns
// ***************
[class*="widget-col-"] {
    position: relative;
    width: 100%;
    padding-right: $widget-default-padding;
    padding-left: $widget-default-padding;
}

.widget-col-1 {
    flex: 0 1 8.3333333333%;
    max-width: 8.3333333333%;
}

.widget-col-2 {
    flex: 0 1 16.6666666667%;
    max-width: 16.6666666667%;
}

.widget-col-3 {
    flex: 0 1 25%;
    max-width: 25%;
}

.widget-col-4 {
    flex: 0 1 33.3333333333%;
    max-width: 33.3333333333%;
}

.widget-col-5 {
    flex: 0 1 41.6666666667%;
    max-width: 41.6666666667%;
}

.widget-col-6 {
    flex: 0 1 50%;
    max-width: 50%;
}

.widget-col-7 {
    flex: 0 1 58.3333333333%;
    max-width: 58.3333333333%;
}

.widget-col-8 {
    flex: 0 1 66.6666666667%;
    max-width: 66.6666666667%;
}

.widget-col-9 {
    flex: 0 1 75%;
    max-width: 75%;
}

.widget-col-10 {
    flex: 0 1 83.3333333333%;
    max-width: 83.3333333333%;
}

.widget-col-11 {
    flex: 0 1 91.6666666667%;
    max-width: 91.6666666667%;
}

.widget-col-12 {
    flex: 0 1 100%;
    max-width: 100%;
}

// on design mode we cannot use columns because they interfere with the creation of a PDF form
@media (max-width: 992px) {
    .widget-designer:not([data-current-mode="view"]) {
        .widget-col-1, .widget-col-2, .widget-col-3, .widget-col-4, .widget-col-5, .widget-col-6, .widget-col-7, .widget-col-8, .widget-col-9, .widget-col-10, .widget-col-11, .widget-col-12 {
            flex: 0 1 100%;
            max-width: 100%;
        }
    }
}

// component styles
[data-part="required-mark"] {
    font-weight: bold;
    text-decoration: none;
    font-size: 80%;
    color: $widget-error;
    &::after {
        content: ' ';
        text-decoration: none;
    }
}

[data-type="text"] {
    &.widget-text-transform-none [data-part="input"] {
        text-transform: none;
    }
    &.widget-text-transform-uppercase [data-part="input"] {
        text-transform: uppercase;
    }
    &.widget-text-transform-lowercase [data-part="input"] {
        text-transform: lowercase;
    }
    &.widget-text-transform-titlecase [data-part="input"] {
        text-transform: capitalize;
    }
}

// ***************
// dialog editors
// ***************
.label-input-container {
    display: table;
    label, input {
        display: table-cell;
    }

    label {
        min-width: 2rem;
        & + input {
            margin-left: 0.35rem;
        }
    }

    &:has(label + input[type="color"]), 
    &:has(label + input[type="date"]),
    &:has(label + input[type="number"]), 
    &:has(label + input[type="text"]) {
        label {
            width: 1%;
        }
    }

    input {
        width: calc(99% - 0.35rem);
    }
}

.widget-dialog-section {
    border: 1px solid $widget-border-design-color;
    border-radius: $widget-designer-radius;
    padding: $widget-section-padding;

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
    }

    .widget-dialog-subsection {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
        margin-bottom: 0.25rem;
        width: 100%;

        &.w-1 {
            width: calc(8.33% - $widget-section-padding / 12 * 2 - 1px);
        }
        &.w-2 {
            width: calc(16.66% - $widget-section-padding / 6 * 2 - 1px);
        }
        &.w-3 {
            width: calc(25% - $widget-section-padding / 4 * 2 - 1px);
        }
        &.w-4 {
            width: calc(33.33% - $widget-section-padding / 3 * 2 - 1px);
        }
        &.w-5 {
            width: calc(41.66% - $widget-section-padding / 2.4 * 2 - 1px);
        }
        &.w-6 {
            width: calc(50% - $widget-section-padding / 2 * 2 - 1px);
        }
        &.w-7 {
            width: calc(58.33% - $widget-section-padding / 1.7142 * 2 - 1px);
        }        
        &.w-8 {
            width: calc(66.66% - $widget-section-padding / 1.25 * 2 - 1px);
        }
        &.w-9 {
            width: calc(75% - $widget-section-padding / 1.11 * 2 - 1px);
        }
        &.w-10 {
            width: calc(83.33% - $widget-section-padding / 1 * 2 - 1px);
        }
        &.w-11 {
            width: calc(91.63% - $widget-section-padding / 0.909 * 2 - 1px);
        }               
    }
}

.widget-dialog-section-title {
    font-weight: bold;
    margin: 1rem 0 0 0;
}

.widget-dialog-tip {
    font-size: 0.8rem;
    color: $widget-tip-color;
    white-space: normal;
}

.widget-select-option, .widget-radio-option {
    min-height: 2.5rem;
}

.widget-dialog-hide-window {
    float: right;
    margin-top: 0.35rem;
}


// ******
// flyter
// ******
[class^="flyter"] {
    font-family: $font-family;
    // font-size: $default-font-size;

    button, input {
        font-family: inherit;
        font-size: $default-font-size;
        outline: none;
    }   

    button {
        border: 1px solid $widget-toolbar-border-color;
        border-radius: $widget-designer-radius;
        background-color: $widget-toolbar-button-bg-color;
        color: $widget-toolbar-button-color;
        height: $widget-toolbar-button-height;
        &:hover {
            background-color: $widget-toolbar-button-bg-hover-color;
        }
        &:focus {
            border-color: $flyter-input-focus-boder-color;
        }
    }
}

.flyter-popup {
    border: 1px solid $widget-border-design-color;
    border-radius: $widget-designer-radius;
    padding: $widget-default-padding;
    background-color: $flyter-popup-background-color; 
    z-index: 10000;
}

.flyter-buttons-container {
    margin-top: $widget-default-padding;
}

.flyter-read-container {
    display: inline-block;;
    text-decoration: inherit; // to allow for underline
}

.flyter-text-input {
    border: 1px solid $widget-border-design-color;
    border-radius: $widget-designer-radius;
    padding: 2px 8px;

    &:focus {
        border-color: $flyter-input-focus-boder-color;
    }
}

// **************
// Widget editors
// **************
.widget-properties-editor {
    box-sizing: border-box;
    > *, *::before, *::after {
        box-sizing: inherit;
    }

    background-color: $widget-properties-editor-background-color;
    border: 1px solid $widget-modal-border-color;
    border-radius: $widget-designer-radius;
    box-shadow: 0 0 1rem rgb(0, 0, 0, .5);
    color: $widget-properties-editor-color;
    font-family: $font-family;
    max-height: calc(100vh - 10rem);
    padding: $widget-modal-padding;
    width: clamp(10rem, 100%, 35rem);
    transition: opacity 0.3s ease-in-out;

    input, button {
        min-height: $widget-controls-min-height;
        font-family: inherit;
        font-size: $default-font-size;
    }

    input {
        vertical-align: middle;
    }

    input[type="checkbox"], input[type="radio"] {
        width: 1.5rem;
    }

    input[type="color"], input[type="date"], input[type="number"] {
        width: 5rem;
    }

    & > * {
        margin: 0 0 0.5rem 0;
    }

    &::backdrop {
        // background-color: $widget-modal-backdrop-color;
        display: none;  // set to none to allow for hover-on-dialog opacity change effect
    }

    .widget-properties-editor-header {
        height: 2rem;
        background-color: $default-accent-color;
        color: $default-color;
        line-height: 2;
        padding: 0 $widget-toolbar-padding;
        border-radius: $widget-designer-radius;
        margin-bottom: 1rem;
    }

    .widget-properties-editor-footer {
        margin-top: 1rem;
        padding-top: 1rem;
        height: 2rem;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: end;
        border-top: 1px solid $widget-modal-border-color;
    }
}

.widget-properties-editor:has(.widget-dialog-hide-window:hover) {
    opacity: 0.15;
}
